$primary: #20c090;
$c-secondary: #aaa;
$border: #20c090;
$link: #20c090;
$border-hover: #20c090;

$tabs-link-hover-color: $primary;
$tabs-link-hover-border-bottom-color: $primary;
$tabs-link-color: $primary;
